html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* container */
.container {
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* section-header */
.section-header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
}

.page-header {
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.page-header h1 {
    margin: 0;
    width: 30%;
    height: 100%;
}

.page-header a {
    color: rgb(8, 8, 8);
    width: 100%;
    height: 100%;
    font-size: 0.6em;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.page-header a:hover {
    color: rgba(252, 0, 0, 0.884);
    text-decoration: underline;
    transition: all 1s;
}


.logo {
    width: 30%;
    height: 70%;
}

nav {
    width: 30%;
    height: 100%;
}

.main-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    list-style: none;
}

.main-nav li {
    margin-left: 1em;
}
.main-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

/* section-main */
.section-main {
    margin-top: 0;
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 86%;
}

.page-main {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-main a {
    border: 5px solid rgb(8, 8, 8);
    border-radius: 1.25em;
    background-color: white;
    width: 30%;
    height: 90%;
    text-decoration: none;
}
.page-main a:hover {
    opacity: 0.9;
    background-color: rgb(207, 207, 207);
    transition: all 0.5s;
}

.wrap-exercise {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.exercise-img {
    width: 100%;
    height: 80%;
}

.exercise-text {
    width: 100%;
    height: 20%;
}
.exercise-text-in {
    margin: auto 10px;
    color: rgb(8, 8, 8);
}

/* footer */
.section-footer {
    width: 100%;
    height: 4%;
}

footer {
    width: 100%;
    height: 100%;
}

footer p {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 0.1em;
    background-color: rgb(36,41,46);
    color: white;
    text-align: center;
}