html,
body {
    margin: 0;
}

/* container */
.container {
    background-color: rgb(242, 242, 242);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* section-header */
.section-header {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100px;
}

.page-header {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.page-header h1 {
    margin: 0;
}

.page-header a {
    color: rgb(8, 8, 8);
    text-decoration: none;
}

.page-header a:hover {
    color: rgba(252, 0, 0, 0.884);
    text-decoration: underline;
    transition: all 1s;
}


.logo {
    width: 60px;
    height: 50px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    font-weight: 600;
}

/* section-main */
.section-main {
    margin-top: 0;
    background-color: rgb(242, 242, 242);
    min-width: 100vw;
}

.page-main {
    width: 80vw;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.page-main a {
    border: 3px solid rgb(8, 8, 8);
    border-radius: 1.25em;
    background-color: white;
    width: 30%;
    text-decoration: none;
}
.page-main a:hover {
    opacity: 0.9;
    background-color: rgb(207, 207, 207);
    transition: all 0.5s;
}

.wrap-exercise {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.exercise-img {
    width: 100%;
    height: 85%;
}
.exercise-text {
    margin: auto 10px;
    color: rgb(8, 8, 8);;
}

/* footer */
footer p {
    margin: 0;
    background-color: rgb(36,41,46);
    color: white;
    text-align: center;
}