<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXERCISE/osscap2020</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div class="container">
        <div class="section-header">
            <header class="page-header">
                <h1>
                    <a href="index.html">
                        <img class="logo" src="../static/img/free-icon-muscle-2665178.svg" alt="">EXERCISE
                    </a>
                </h1>
                <nav>
                    <ul class="main-nav">
                        <li><a href="news.html">News</a></li>
                        <li><a href="Menu.html">Menu</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="section-main">
            <main class="page-main">
                <a href="squat.html">
                    <div class="wrap-exercise">
                        <img src="../static/img/free-icon-squat-3043290.svg" alt="" class="exercise-img">
                        <h2 class="exercise-text">Squat</h2>
                        <h5 class="exercise-text">허벅지, 엉덩이근육 강화</h5>
                    </div>
                </a>

                <a href="side-legraise.html">
                    <div class="wrap-exercise">
                        <img src="../static/img/free-icon-workout-3043234.svg" alt="" class="exercise-img">
                        <h2 class="exercise-text">Side Leg Raise</h2>
                        <h5 class="exercise-text">옆구리, 하복부근육 강화</h5>
                    </div>
                </a>


                <a href="push-up.html">
                    <div class="wrap-exercise">
                        <img src="../static/img/free-icon-workout-3043256.svg" alt="" class="exercise-img">
                        <h2 class="exercise-text">Push-up</h2>
                        <h5 class="exercise-text">가슴, 상체근육 강화</h5>
                    </div>
                </a>


            </main>
        </div>
        <div class="section-footer">
            <footer>
                <p>&copy; Osscap2020 </p>
            </footer>
        </div>
    </div>

</body>
<!-- 
    아이콘 제작자 <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon"> www.flaticon.com</a>
`   아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/ultimatearm" title="ultimatearm">ultimatearm</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon"> www.flaticon.com</a> 
-->

</html>